{% extends 'pizza/base.html' %} {% block content %}

<h1>Features</h1>
<ul class="list-group">
  <li class="list-group-item">
    A public site allows customers to order pizza online
  </li>
  <li class="list-group-item">
    Administrator site with login page that allows restaurant managers and
    kitchen staff to view and edit customer orders.
  </li>
  <li class="list-group-item">
    Relational database that can help a restaurant scale a business
  </li>
  <li class="list-group-item">
    SMS feature that allows managers to comfirm customer orders
  </li>
</ul>
{% endblock %}
